body {
    color: #000000; /* Mørk grå tekst */
}
.col-md-5 {
    display: flex;
    justify-content: flex-start; /* Flytter logoen mot venstre */
    align-items: center; /* Vertikal sentrering */
    padding-right: 40px; /* Juster etter behov */
}

.mb-4 {
    color: #ffffff;
    font-size: 50px;
}

/* Register button */
.btn-primary {
    background-color:#e58e00; 
    border-color: #e58e00; 
    color: #ffffff; /* Hvit tekst */
}

.btn-primary:hover {
    background-color:  rgb(228, 127, 60); /* Mørkere blå ved hover */
    border-color: rgb(228, 127, 60); /* Dypere kant ved hover */
    color: #fffdfd; /* Lysere tekst ved hover */
}

/* Sekundær knapp (Register) */
.btn-secondary {
    background-color: #6a7482; /* Mørk grå */
    border-color: #6a7482; /* Dypere grå */
    color: #ffffff; /* Hvit tekst */
}

.btn-secondary:hover {
    background-color: #4e555b; /* Mørkere grå ved hover */
    border-color: #3c4349; /* Dypere kant ved hover */
    color: #e6e6e6; /* Lysere tekst ved hover */
}