

/* Standard styling for image preview box 
#imagePreview {
    width: 450px;
    height: 450px;
    /* border: 15px solid #34a899;  
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #ffffff;
} */

/* Hide border and background when an image is present 
#imagePreview.has-image {
    background-color: transparent;
    border: none;
}*/

/* Image inside the preview box 
#imagePreview img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.col-md-6  {
    margin-top: 40px;
}*/

/* Additional styling for the text box
#textArea {
    width: 100%; 
    height: 150px; 
    padding: 12px 20px; 
    box-sizing: border-box; 
    border: 3px solid #71a8a6;
    border-radius: 10px;
    background-color: #fff;
    resize: none; 
} */



/* Standard styling for image preview box */
#imagePreview {
    width: 450px;
    height: 450px;
    /* border: 15px solid #34a899;   */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #ffffff;
}

/* Hide border and background when an image is present */
#imagePreview.has-image {
    background-color: transparent;
    border: none;
}

/* Image inside the preview box */
#imagePreview img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.col-md-6  {
    margin-top: 40px;
}

/* Additional styling for the text box */
#textArea {
    width: 100%; 
    height: 150px; 
    padding: 12px 20px; 
    box-sizing: border-box; 
    border: 3px solid #71a8a6;
    border-radius: 10px;
    background-color: #fff;
    resize: none; 
}