/*body {
    background-color: #8eb8b6; 
    color: #000000; 
}

login header
.mb-4 {
    color: #ffffff;
    font-size: 60px;
}

/* Register & login button 
.btn-primary {
    background-color:#ffb703;
    border-color: #ffb703;
    color: #ffffff;  Hvit tekst 
}

.btn-primary:hover {
    background-color:  #fb8500; /* Mørkere blå ved hover 
    border-color: #fb8500; /* Dypere kant ved hover 
    color: #fffdfd; /* Lysere tekst ved hover 
}*/


body {
    background-color: #8eb8b6; 
    color: #000000; 
}

/*login header*/
.mb-4 {
    color: #ffffff;
    font-size: 60px;
}

/* Register & login button */
.btn-primary {
    background-color:#ffb703;
    border-color: #ffb703;
    color: #ffffff; /* Hvit tekst */
}

.btn-primary:hover {
    background-color:  #fb8500; /* Mørkere blå ved hover */
    border-color: #fb8500; /* Dypere kant ved hover */
    color: #fffdfd; /* Lysere tekst ved hover */
}

