#dropdownMenuButton {
    background-color: #e58e00; /* Orange background */
    border: none; /* Remove border */
    color: rgb(255, 255, 255); /* White "+" symbol */
    font-size: 20px; /* Adjust size if needed */
}

#dropdownMenuButton:hover {
    background-color: rgb(228, 127, 60); /* Slightly darker shade on hover */
}

.description-text {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal; /* Ensures that text will break onto the next line */
    word-break: break-word; /* Ensures words are broken when necessary */
    max-width: 100%; /* Ensure it does not overflow its container */
}

.modal-content {
    border-radius: 10px;
    padding: 20px;
}

.modal-header {
    border-bottom: none;
    font-size: 1.3rem;
}

.modal-body p {
    font-size: 1.2rem; /* Større brødtekst i modalen */
}

.modal-footer {
    border-top: none;
    display: flex;
    justify-content: space-between; /* Flytt knappene til ytterpunktene */
    gap: 10px; /* Avstand mellom knappene */
    padding: 0.5rem 1rem; /* Juster padding om nødvendig */
    width: 100%; /* Sørg for at containeren tar hele bredden */
    box-sizing: border-box; /* Inkluder padding i bredden */
}

/* Delete account button */
.delete-account-button {
    background-color: #dc3545;
    border-color: #dc3545;
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    border-radius: 5px;
    margin: auto; /* Center the button */
}

.delete-account-button:hover {
    background-color: #c82333;
    border-color: #bd2130;
    transform: scale(1.05);
}

/* Modal footer buttons */
.confirm-delete-button {
    background-color: #dc3545;
    border-color: #dc3545;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    margin: 0; /* Fjern all ekstra margin */
}

.confirm-delete-button:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.cancel-delete-button {
    background-color: #6c757d;
    border-color: #6c757d;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    margin: 0; /* Fjern all ekstra margin */
}

.cancel-delete-button:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.confirm-delete-button,
.cancel-delete-button {
    margin: 0;
}