html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #eef0f5;
}

.fixed-header {
<<<<<<< HEAD
  background-color: pink;
}

/* Sentrerer innhold i sirklene */
=======
  background-color: #8fa0c3 !important;
}

.side-navbar {
  background-color: #a4b0c9 !important;
}


/* Generelle regler for ikonbokser */
>>>>>>> c3b3e28189b72e8ac32b0dac04a8f98bd008be60
.circle {
  display: flex;
  align-items: center;
  justify-content: center;
<<<<<<< HEAD
  border-radius: 50%;
  width: 60px; /* Diameter */
  height: 60px; /* Diameter */
  border: 2px solid #868c91; /* Tynn kant rundt */
  background-color: white; /* Legg til hvit bakgrunn for klarhet */
}

/* Profilbilde-stil */
.profile-container {
  background-color: transparent; /* Fjern bakgrunnsfargen for minimalistisk design */
  border: 2px solid #868c91; /* Tynn blå kant rundt profilen */
}

.profile-picture {
  width: 50px; /* Mindre bilde, nesten hele sirkelen */
  height: 50px;
  object-fit: contain; /* Sørger for at bildet skaleres uten å bli kuttet */
  border-radius: 50%; /* Gjør bildet rundt */
}

/* Logout-knapp */
.circle.logout {
  margin-top: auto; /* Flytt logout til bunnen */
}

/* Navigasjonsknapper */
.nav-item {
  margin-bottom: 20px;
}

.nav-link {
  text-decoration: none;
}

/* Hover-effekter */
.circle:hover {
  transform: scale(1.1); /* Liten zoom-effekt */
  transition: transform 0.2s ease-in-out;
}
=======
  width: 60px; /* Diameter */
  height: 60px; /* Diameter */
  border-radius: 50%; /* Gjør dem runde */

}

/* Spesifikk regel for profilboksen */
.profile-container {
  border: 2px solid #8fa0c3; /* Blå kant rundt profilbildet */
}

/* Profilbildet */
.profile-picture {
  width: 100%; /* Tilpass bildet til containerens bredde */
  height: auto; /* Behold proporsjonene */
  object-fit: scale-down; /* Sørger for at bildet ikke blir kuttet */
  border-radius: 50%; /* Gjør bildet rundt */
}

/* Hover-effekt */
.nav-link:hover {
  transform: scale(1.1); /* Liten zoom ved hover */
  filter: brightness(1.1); /* Gjør ikonet lysere ved hover */
  cursor: pointer; /* Endre markøren til håndikon */
}
>>>>>>> c3b3e28189b72e8ac32b0dac04a8f98bd008be60
