@model IEnumerable<Post>

<div class="row">
    @foreach (var post in Model)
    {
        <div class="col-md-8 offset-md-2 mb-4" id="post-@post.PostId">
            @if (!string.IsNullOrEmpty(post.ImgUrl))
            {
                <partial name="_PostWithImage" model="post" />
            }
            else
            {
                <partial name="_PostNote" model="post" />
            }
        </div>
    }
</div>