/* Basic layout */
.d-flex {
  height: 100vh;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 80px;
  width: calc(100% - 80px);
  z-index: 1030;
  height: 60px;
  background-color: #007bff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-container {
  margin-top: 60px;
  margin-left: 80px;
  padding: 20px; 
}

.side-navbar {
  width: 80px;
  min-height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 1rem;
  border-right: 1px solid #e5e5e5;
  background-color: #f2f4f7; /* Mykere farge for navbaren */
}

.circle.logout {
  align-self: center;
  margin-bottom: 15px; /* Litt luft til bunnen */
  padding: 8px; /* Padding for å gjøre den mer lik de andre knappene */
  margin-left: 5px; /* Luft fra venstresiden */
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-bar {
  display: none; /* Hides the icon bar by default */
}

/* Hide side navbar and show icon bar in header on small screens */
@media (max-width: 768px) {
  .side-navbar {
      display: none;
  }
  .fixed-header {
      width: 100%;
      left: 0;
      justify-content: space-between;
      padding: 0 1rem;
  }
  .icon-bar {
      display: flex;
      gap: 0.5rem;
  }
  .icon-bar .circle {
      width: 40px;
      height: 40px;
  }
}