@model NissGram.Models.Post

<head>
    <link rel="stylesheet" href="~/css/postCard.css" />
</head>

<div class="card mb-4 mx-auto" style="max-width: 600px;">
    <div class="card-body">
        <!-- User Profile Header -->
        <partial name="_PostProfileHeader" model="Model" />

        <!-- Text Content -->
        <p class="card-text font-italic">Note: @Model.Text</p>
        
        <!-- Post Dates -->
        <hr>
        <partial name="_PostDates" model="Tuple.Create(Model.DateCreated, Model.DateUpdated)" />
        
        <!-- Post Actions -->
        <partial name="_PostActions" model="Model" />
    </div>
</div>